<script src="../assets/js/map.js"></script>
<section
  id="{{ include.section.section_id }}"
  class="wrapper {{ include.section.background_style }} fade-up"
>
  <div class="inner" style="overflow: hidden;">
    {%- if include.section.title.size > 0 -%}
    <h2>{{ include.section.title }}</h2>
    {% endif %} {%- if include.section.subtitle.size > 0 -%} {{
    include.section.subtitle | markdownify }} {% endif %}
    <div class="map" id="canada-map" style="overflow: auto;"></div>
    {%- if site.data.contentful.spaces.cipo-website.chapter.size > 0 -%}
    {%- for chapter in site.data.contentful.spaces.cipo-website.chapter -%}
    <table class="chapter-info" id="chapter-info-{{ chapter.province }}">
      <tr>
        <th>Chapter Director</th>
        <td></td>
      </tr>
      <tr>
        <th>Steering Committee</th>
        <td></td>
      </tr>
      <tr>
        <th>Newborn Screening</th>
        <td></td>
      </tr>
      <tr>
        <th>Paid Plasma</th>
        <td></td>
      </tr>
      <tr>
        <th>Monthly Meetups</th>
        <td></td>
      </tr>
    </table>
    {%- endfor -%} {%- endif -%}
  </div>
</section>
