<!-- Intro -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.background_style }} fade-up">
    <div class="inner">
        {%- if include.section.title.size > 0 -%}
        <h2>{{ include.section.title }}</h2>
        {% endif %}
        {%- if include.section.subtitle.size > 0 -%}
        {{ include.section.subtitle | markdownify }}
        {% endif %}
        {% include media-items-grid.html %}
        {% assign actions_is_not_empty = include.section.actions | is_not_empty %}
        {% if actions_is_not_empty %}
        {% endif %}
        <ul class="actions">
            {% for action in include.section.actions %}
            <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | relative_url }}{% endif %}" class="button{% assign is_primary_is_not_empty = action.is_primary | is_not_empty %}{% if is_primary_is_not_empty %} primary{% endif %}{% assign is_scrolly_is_not_empty = action.is_scrolly | is_not_empty %}{% if is_scrolly_is_not_empty %} scrolly{% endif %}">{{ action.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
