///
/// Hyperspace by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Features */

.features {
	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	border-radius: _size(border-radius);
	//border: solid 1px _palette(border);
	//background: _palette(border-bg);
	margin: 0 0 _size(element-margin) 0;

	a {
      span {
		  position:absolute;
		  width:100%;
		  height:100%;
		  top:0;
		  left: 0;
		  z-index: 1;
	  }
	}

	section {
		background-color: _palette(accent2);
		@include padding(2em, 2em);
		margin: 1em;
		width: calc(50% - 2em);
		//border-top: solid 1px _palette(border);
		position: relative;

		&:nth-child(-n + 2) {
			border-top-width: 0;
		}

		&:nth-child(2n) {
			//border-left: solid 1px _palette(border);
		}

	}

	@include breakpoint('<=medium') {
		display: block;

		section {
			//border-top-width: 1px !important;
			border-left-width: 0 !important;
			width: 100%;

			&:first-child {
				border-top-width: 0 !important;
			}
		}
	}

	@include breakpoint('<=small') {
		section {
			@include padding(2em, 1.5em, (0.5em, 0, 0, 4em));
		}
	}

	@include breakpoint('<=xsmall') {
		section {
			@include padding(2em, 1.5em, (0, 0, 0, 0));
		}
	}
}