#map .inner { padding-top: 0 }

.map {

  .inner { padding-top: 0}

  //max-width: 500px;
  width:50%;
  height: 500px;
  /* margin: 0 auto; */
  margin: 0;
  padding: 0 !important;
  .jvectormap-zoomin,
  .jvectormap-zoomout {
    visibility: hidden;
  }
  pointer-events: fill;

  @include breakpoint("<=small") {
    pointer-events: none;
  }

  //background-color: #929796;
  float: left;
}

.chapter-info {
  display: none;
  width: 50%;
}