---
layout: body
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <span class="image fit"><img src="{{ page.content_img_path | relative_url }}" alt="" /></span>
            <h1>{{ page.title }}</h1>
            {{ content }}

            <div class="videos">
                {%- if strapi.collections.videos.size > 0 -%}
                <ul class="video-list">
                    {%- for video in strapi.collections.videos -%}
                    <li>
                        <h3>
                            <a class="video-link" href="{{ video.media_url | relative_url }}" data-lity>
                                {{ video.title }}
                            </a>
                        </h3>
                        <!-- Display a description of the video -->
                        <p>{{ video.description | markdownify | strip_html | truncatewords: 10 }}</p>
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </div>
        </div>
    </section>
</div>
