/* Footer */

	#footer {

		#sidebar #wrapper + & {
			margin-left: _size(sidebar-width);

			@include breakpoint('<=large') {
				margin-left: 0;
			}
		}

		> .inner {
			@include padding(2em , 2em);
			a {
				border-bottom-color: _palette(border);

				&:hover {
					border-bottom-color: transparent;
				}
			}

			.menu {
				font-size: 0.8em;
				color: _palette(fg-light);
			}
		}

		#header + #wrapper + & {
			> .inner {
				margin: 0 auto;
			}
		}
	}