/* Intro */

#intro {
  /*
		background-image: url('images/intro.svg');
		background-image: url('images/bubbles.jpg');

		 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("images/bubbles-alt.jpg");
  background-size: 100% 100%;
  img.logo {
    margin: 0 0 1em 0;
  }
  p {
    font-size: 1.25em;
    color: white;
    @include breakpoint("<=medium") {
      br {
        display: none;
      }
    }

    @include breakpoint("<=small") {
      font-size: 1em;
    }
  }

  @include breakpoint("<=large") {
    background-attachment: scroll;
  }
}
